// Content css for index

main{
    padding: 0px;
    .container-1{
        height: 650px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .section-transform{
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 60px;
            .div-section-transform{
                width: auto;
                padding-left: 100px;
                padding-right: 100px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                h2{
                    color: hsl(212, 27%, 19%);
                    font-family: 'Fraunces';
                    font-weight: 900;
                    font-size: 40px;
                }
                .p-text-transform-brand{
                    line-height: 20pt;
                    color: hsl(232, 10%, 55%);
                    font-weight: 600;
                    font-family: 'Barlow';
                }
            }
            
        }
        .section-egg-background{
            background-image: url(../../images/desktop/image-transform.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
        }
    }

    // container 2
    .container-2{
        height: 650px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .section-stand{
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 60px;
            .div-section-stand{
                width: auto;
                padding-left: 100px;
                padding-right: 100px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                h2{
                    color: hsl(212, 27%, 19%);
                    font-family: 'Fraunces';
                    font-weight: 900;
                    font-size: 40px;
                }
                .p-text-stand{
                    line-height: 20pt;
                    color: hsl(232, 10%, 55%);
                    font-weight: 600;
                    font-family: 'Barlow';
                }
            }
            
        }
        .section-cup-background{
            background-image: url(../../images/desktop/image-stand-out.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
        }
    }
}

@media screen and (max-width: 768px){
    main{
        .container-1{
            display: flex;
            flex-direction: column-reverse;
            .section-transform{
                padding-top: 100px;
                padding-bottom: 100px;
                .div-section-transform{
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                    align-items: center;
                }
            }
            .section-egg-background{
                background-image: url(../../images/mobile/image-transform.jpg);
                padding-top:150px;
                padding-bottom: 150px;
            }
        }
        .container-2{
            display: flex;
            flex-direction: column;
            .section-cup-background{
                background-image: url(../../images/mobile/image-stand-out.jpg);
                padding-top:150px;
                padding-bottom: 150px;
            }
            .section-stand{
                padding-top: 100px;
                padding-bottom: 100px;
                align-items: center;
                .div-section-stand{
                    align-items: center;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }  
    }
}

// Section graphic design and photograhy
.container-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .section-graphic-design{
        background-image: url(../../images/desktop/image-graphic-design.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
        height: 550px;
        h3{
            font-family: 'Fraunces';
            font-weight: 900;
            color: hsl(167, 40%, 24%);
        }
        .text-graphic-design{
            font-family: 'Barlow';
            font-weight: 600;
            width: 60%;
            text-align: center;
            color: hsl(167, 40%, 24%);
        }
    }
    .section-photography{
        background-image: url(../../images/desktop/image-photography.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
        height: 550px;
        h3{
            font-family: 'Fraunces';
            font-weight: 900;
            color: hsl(198, 62%, 26%);
        }
        .text-photography{
            font-family: 'Barlow';
            font-weight: 600;
            width: 60%;
            text-align: center;
            color: hsl(198, 62%, 26%);
        }
    }
}

// responsive part for Section graphic design and photograhy


// Testimonials section
.section-testimonials{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 25px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 65px;
    .title-testimonials{
        font-family: 'Fraunces';
        color: hsl(210, 4%, 67%);
        font-size: 20px;
        letter-spacing: 3pt;
    }
    .container-testimonials{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}