// import variables
@import '../utils/variables';


.container-header-slider{
    background-image: url('../../images/desktop/image-header.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}